.App {
  text-align: center;
}

.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.navbar__right__links {
  display: flex;
  justify-content: space-around;
  width: 25%;
  list-style: none;
  align-items: center;
  flex-wrap: nowrap;
}

ul {
  white-space: nowrap;
}
li {
  display: inline-block;
}

.navbar__links {
  text-decoration: none;
}

.navbar__links:visited {
  color: #000000;
}

.posts__container {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin: 0 50px;
  flex-wrap: wrap;
}

/* .posts__cardactions {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.posts__images {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.8s ease-in-out;
}

.posts__images:hover {
  filter: none;
  -webkit-filter: grayscale(0);
} */
